PORT=3000
JWT_ACCESS_SECRET=change_this_access_secret
AUTH_SERVICE_URL=http://localhost:3001
PATIENT_SERVICE_URL=http://localhost:8000
APPOINTMENT_SERVICE_URL=http://localhost:3002
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=60
