CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8000/'

database.default.hostname = localhost
database.default.database = patient_db
database.default.username = root
database.default.password = root
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3308

JWT_ACCESS_SECRET = change_this_access_secret
